.container {
  padding: 0.5rem;
  background-color: #f8f8f8;
}

.yearContainer {
  display: flex;
  flex-wrap: wrap;
}

.year {
  width: 100%;
  font-size: 2rem;
  margin: 1rem 0;
  font-weight: 600;
  text-align: center;
  opacity: 0.4;
}

.monthContainer {
  background-color: #f8f8f8;
  padding: 1rem;
  margin: 0.6rem;
  /*border: 1px solid #212121;*/
}

.monthName {
  font-size: 1.4rem;
  padding-bottom: 0.25em;
  font-weight: 600;
  margin: 0;
  text-align: center;
}
