.form {
  background-color: whitesmoke;
  padding: 0.5rem;
  width: 33%;
  display: none;
}

.formShow {
  display: block;
}

.legend {
  font-weight: bold;
  margin-bottom: 0.2em;
  padding: 0;
}

.field {
  display: block;
  margin-bottom: 0.5em;
}

.field input {
  display: block;
  width: 50%;
  max-width: 14rem;
}
