.form {
  padding: 1rem;
  margin: 1rem;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  min-width: 340px;
}

.legend {
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0;
}

.formFields {
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
  min-width: 300px;
}

.field {
  display: block;
  margin-bottom: 0.8rem;
}

.field span {
  display: block;
}

.fieldInline {
  display: inline-block;
}

.field input,
.field textarea {
  display: block;
  width: 90%;
  padding: 0.3em;
  max-width: 14rem;
}

.tags {
  border: 0;
  margin: 0 0 0.8rem 0;
  padding: 0;
}

.tags legend {
  margin-bottom: 0.35rem;
}

.tags label {
  display: block;
  margin-bottom: 0.15rem;
}

.button {
  composes: button from '../shared.css';
  font-size: 0.9rem;
}

.deleteButton {
  composes: button from '../shared.css';
  font-size: 0.9rem;
  background-color: #d84646;
  color: white;
  float: right;
  padding: 0.4em 0.8em;
}

.submitButton {
  composes: button from '../shared.css';
  display: block;
}
