.container {
  /*border: 1px solid #49444B;*/
  /*border-radius: 0.25em;*/
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  position: relative;
  box-shadow: 0px 0px 2px 2px rgba(204,204,204,0.4);
}

.name {
  padding: 1rem;
  display: block;
  text-align: center;
  border-bottom: 1px solid #ccc;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: #212121;
  background-color: #22D69B;
  /*border-radius: 3px 3px 0 0;*/
}

.date {
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  /*font-weight: 600;*/
}

.location {
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
}

.peopleList {
  border-bottom: 1px solid #ccc;
  display: flex;
  font-size: 1rem;
  line-height: 1.4;
  align-items: center;
}

.peopleListLabel {
  padding: 1em;
  min-width: 3.5em;
  display: block;
  border-right: 1px solid #ccc;
  font-weight: bold;
}

.peopleList ~ .peopleList {
  padding-top: 0;
}

.peopleList ul {
  padding: 1rem;
  list-style: none;
  width: 100%;
}

.peopleList li {
  display: inline-block;
  margin: 0 0.2em 0.1em 0;
}

.peopleList li:after {
  content: ", ";
}

.peopleList li:last-child:after {
  content: "";
}

.buttons {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
}

.button input {
  margin-right: 0.5rem;
}

.button input:disabled ~ span {
  color: grey;
}

.openEdit {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 1em 1em 1.5em 1.5em;
}

.openEdit div {
  height: 1.5em;
  width: 1.5em;
  opacity: 1;
}

.tagList {
  font-size: 0.8rem;
  line-height: 1.4;
}

.tagList ul {
  padding: 0rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tag {
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 1em 1em;
  border: 1px solid #ccc;
  border-top: 0;
  border-right: 0;
  font-size: 0.7rem;
}

.tag:last-child {
  border-right: 1px solid #ccc;
}

.counts {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  font-size: 0.8rem;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
}

.goingCount,
.interestedCount,
.badgerCount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goingCount svg,
.interestedCount svg,
.badgerCount svg {
  width: 1.5rem;
  fill: FC1D42;
}

.goingCount svg {
  fill: #FC1D42;
}

.interestedCount svg {
  fill: #FC1D42;
}

.badgerCount svg {
  fill: #212121;
}

.goingCount span:first-child,
.interestedCount span:first-child,
.badgerCount span:first-child {
  height: 1.2rem;
}

.goingCount span:last-child,
.interestedCount span:last-child,
.badgerCount span:last-child {
  background-color: #FC1D42;
  color: #f8f8f8;
  font-weight: 600;
  height: 1.5rem;
  width: 1.5rem;
  line-height: 1.5rem;
  border-radius: 50%;
  margin-left: 1rem;
  text-align: center;
}

.interestedCount span:last-child {
  background-color: #FC1D42;
  color: #f8f8f8;
}

.badgerCount span:last-child {
  background-color: #212121;
  color: #f8f8f8;
}
