.container {
  padding: 0.5rem;
  margin-bottom: 0;
  background-color: #FFFFE9;
}

.container ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0 0;
  justify-content: center;
}

.container li {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.filter {
  composes: button from '../shared.css';
}

.filterActive {
  background-color: #49444B;
  color: #FFFFE9;
}
