.container {
  background-color: #212121;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.userName {
  margin: 0;
  display: inline;
  margin-right: 0.4em;
  font-size: 1rem;
  color: #f8f8f8;
}

.buttons {
  display: flex;
  min-width: 10rem;
  align-items: center;
}

.buttons a {
  color: #f8f8f8;
  margin: 0 1.5rem;
}

.menuButton {
  composes: button from '../shared.css';
  font-size: 1rem;
  padding: 0.75em;
  line-height: 1;
}

.logoutButton {
  composes: button from '../shared.css';
  margin-left: 0.5em;
  font-size: 1rem;
}
