.container {
  background-color: #49444B;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.userName {
  margin: 0;
  display: inline;
  margin-right: 0.4em;
  font-size: 0.8rem;
  color: #FFFFE9;
}

.buttons {
  display: flex;
  min-width: 9rem;
  align-items: center;
}

.buttons a {
  color: #FFE5C7;
  margin-right: 0.5rem;
}

.menuButton {
  composes: button from '../shared.css';
  font-size: 0.8rem;
  padding: 0.75em;
  line-height: 1;
}

.logoutButton {
  composes: button from '../shared.css';
  margin-left: 0.5em;
  font-size: 0.75rem;
}
