.button {
  padding: 0.7em;
  font-size: 0.8rem;
  ont-family: 'Open Sans', sans-serif;
  cursor: pointer;
  background-color: #FC1D42;
}

.button:focus,
.button:active {
  outline: 0;
  background-color: #606060;
}

.button:disabled {
  cursor: default;
  color: #999;
  background-color: #eee;
}
