.button {
  padding: 0.6em 1.5em 0.6em 1.5em;
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  background-color: #FC1D42;
  color: #f8f8f8;
  border: none;
}

.button:focus,
.button:active {
  outline: 0;
  background-color: #606060;
}

.button:disabled {
  cursor: default;
  color: #999;
  background-color: #eee;
}
